{% load i18n %}
{% load staticfiles %}

<div class="default-header menu-right">
    <div class="container container-1520">
        <div class="row">

            <!--Logo start-->
            <div class="col-12 col-md-3 col-lg-2 order-md-1 order-lg-1 mt-20 mb-20">
                <div class="logo">
                    <a href="{{ home_url }}"><img src="{% static "images/ct5.png" %}" alt=""></a>
                </div>
            </div>
            <!--Logo end-->

            <!--Menu start-->
            <div class="col-lg-5 col-12 order-md-3 order-lg-2 d-flex justify-content-center">
                <nav class="main-menu menu-style-2">
                    <ul>
                        <li><a href="#">Thủ Thuật</a>
                            <ul class="sub-menu">
                                <li><a href="{{ windows_url }}">Windows</a></li>
                                <li><a href="{{ linux_url }}">Linux</a></li>
                            </ul>
                        </li>
                        <li><a href="{{ technology_url }}">Công Nghệ</a></li>
                        <li><a href="{{ entertain_url }}">Giải Trí</a></li>
                    </ul>
                </nav>
            </div>

            <!--Menu end-->

            <!--Header Right Wrap-->
            <div class="col-12 col-md-9 order-md-2 order-lg-3 col-lg-5">
                <div class="header-right-wrap">
                    <ul>
                        {% if request.user.is_authenticated %}
                        <li><a href="{{ logout_url }}">Đăng Xuất</a></li>
                        {% else %}
                        <li><a href="{{ login_url }}">Đăng Nhập</a></li>
                        <li><a href="{{ register_url }}">Đăng Kí</a></li>
                        {% endif %}

                        <li class="header-search"><a class="header-search-toggle" href="#"><i class="icofont-search-2" style="vertical-align: middle"></i></a>
                            <div class="header-search-form">
                                {% include 'search/snippets/search_form.html' %}
                            </div>
                        </li>

                        {% get_current_language as LANGUAGE_CODE %}
                        {% if LANGUAGE_CODE == 'en' %}
                        <li>
                            <form action="{% url 'set_language' %}" method="post">
                                {% csrf_token %}
                                <input name="next" type="hidden" value="{{ request.get_full_path|slice:'3:' }}" />
                                <input name="language" type="hidden" value="vi" />
                                <input type="image" src="{% static "images/language/vi.png" %}" style="vertical-align: middle" alt="vi" onchange="this.form.submit()" />
                            </form>
                        </li>
                        {% elif LANGUAGE_CODE == 'vi' %}
                        <li>
                            <form action="{% url 'set_language' %}" method="post">
                                {% csrf_token %}
                                <input name="next" type="hidden" value="{{ request.get_full_path|slice:'3:' }}" />
                                <input name="language" type="hidden" value="en" />
                                <input type="image" src="{% static "images/language/en.png" %}" style="vertical-align: middle" alt="en" onchange="this.form.submit()" />
                            </form>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
            <!--Header Right Wrap-->

        </div>

        <!--Mobile Menu start-->
        <div class="row">
            <div class="col-12 d-flex d-lg-none">
                <div class="mobile-menu"></div>
            </div>
        </div>
        <!--Mobile Menu end-->

    </div>
</div>