{% load staticfiles %}
{% load i18n %}
<header class="akea-header-wrap akea-header-style-plain  akea-style-splitted-menu akea-sticky-navigation akea-style-slide" data-navigation-offset=75px>
    <div class=akea-header-background></div>
    <div class="akea-header-container  akea-container">
        <div class="akea-header-container-inner clearfix">
            <div class="akea-navigation akea-item-pdlr clearfix ">
                <div class=akea-main-menu id=akea-main-menu>
                    <ul id=menu-main-navigation-1 class=sf-menu>
                        <li class="menu-item menu-item-home current-menu-item akea-normal-menu"><a href="{{ home_url }}" alt="Home" class=sf-with-ul-pre>{% trans "Home" %}</a></li>
                        <li class="menu-item menu-item-has-children akea-normal-menu"><a href="#" class=sf-with-ul-pre>{% trans "Tips" %}</a>
                            <ul class=sub-menu>
                                <li class="menu-item" data-size=60><a href="{{ windows_url }}">{% trans "Windows" %}</a></li>
                                <li class="menu-item" data-size=60><a href="{{ linux_url }}">{% trans "Linux" %}</a></li>
                            </ul>
                        </li>
                        <li class=akea-center-nav-menu-item>
                            <div class="akea-logo  akea-item-pdlr">
                                <div class=akea-logo-inner>
                                    <a id="ct-icon-blog" href="{{ home_url }}"><img src="{% static 'images/blog/defaults/logo-ct.png' %}" alt width=140 height=33 title=logo-2></a>
                                </div>
                            </div>
                        </li>
                        <li class="menu-item akea-normal-menu"><a href="{{ technology_url }}">{% trans "Technology" %}</a></li>
                        <li class="menu-item akea-normal-menu"><a href="{{ entertain_url }}">{% trans "Code" %}</a></li>
                    </ul>
                    <div class=akea-navigation-slide-bar id=akea-navigation-slide-bar></div>
                </div>
                <div class="akea-main-menu-right-wrap clearfix  akea-item-mglr akea-navigation-top">
                    <div class="akea-overlay-menu akea-main-menu-right" id=akea-right-menu><a class="akea-overlay-menu-icon akea-right-menu-button akea-top-menu-button akea-mobile-button-hamburger" href=#><span></span></a>
                        <div class="akea-overlay-menu-content akea-navigation-font">
                            <div class=akea-overlay-menu-close></div>
                            <div class=akea-overlay-menu-row>
                                <div class=akea-overlay-menu-cell>
                                    <ul id=menu-main-navigation-2 class=menu>
                                        <li class="menu-item menu-item-home current-menu-item"><a href="{{ home_url }}" aria-current=page>{% trans "Home" %}</a></li>
                                        <li class="menu-item menu-item-has-children"><a href=#>{% trans "Tips" %}</a>
                                            <ul class=sub-menu>
                                                <li class="menu-item"><a href="{{ windows_url }}">{% trans "Windows" %}</a></li>
                                                <li class="menu-item"><a href="{{ linux_url }}">{% trans "Linux" %}</a></li>
                                            </ul>
                                        </li>
                                        <li class="menu-item"><a href="{{ technology_url }}">{% trans "Technology" %}</a></li>
                                        <li class="menu-item"><a href="{{ entertain_url }}">{% trans "Code" %}</a></li>

                                        <li class="menu-item menu-item-has-children"><a href=#>{% trans "Languages" %}</a>
                                            <ul class=sub-menu>
                                                {% get_current_language as LANGUAGE_CODE %}
                                                {% if LANGUAGE_CODE == 'en' %}
                                                <li class="menu-item">
                                                    <form id="language" action="{% url 'set_language' %}" method="post">
                                                        {% csrf_token %}
                                                        <input name="next" type="hidden" value="{{ request.get_full_path|slice:'3:' }}" />
                                                        <input name="language" type="hidden" value="vi" />
                                                        <a href="javascript:{}" onclick="document.getElementById('language').submit();">Vietnamese</a>
                                                    </form>
                                                </li>
                                                {% elif LANGUAGE_CODE == 'vi' %}
                                                <li class="menu-item">
                                                    <form id="language" action="{% url 'set_language' %}" method="post">
                                                        {% csrf_token %}
                                                        <input name="next" type="hidden" value="{{ request.get_full_path|slice:'3:' }}" />
                                                        <input name="language" type="hidden" value="en" />
                                                        <a href="javascript:{}" onclick="document.getElementById('language').submit();">English</a>
                                                    </form>
                                                </li>
                                                {% endif %}
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="akea-main-menu-search" id="akea-top-search"><i class="fa fa-search"></i></div>
                    {% include 'search/snippets/search_form.html' %}
                </div>
            </div>
        </div>
    </div>
</header>