{% load staticfiles %}
{% load i18n %}
<div class="akea-mobile-header-container akea-container clearfix">
    <div class="akea-logo  akea-item-pdlr">
        <div class=akea-logo-inner>
            <a class href=index.html><img src="{% static 'images/blog/defaults/logo-ct.png' %}" alt width=140 height=33 title=logo-2></a>
        </div>
    </div>
    <div class=akea-mobile-menu-right>
        <div class=akea-main-menu-search id=akea-mobile-top-search><i class="fa fa-search"></i></div>
        {% include 'search/snippets/search_form.html' %}

        <div class="akea-overlay-menu akea-mobile-menu" id=akea-mobile-menu><a class="akea-overlay-menu-icon akea-mobile-menu-button akea-mobile-button-hamburger" href=#><span></span></a>
            <div class="akea-overlay-menu-content akea-navigation-font">
                <div class=akea-overlay-menu-close></div>
                <div class=akea-overlay-menu-row>
                    <div class=akea-overlay-menu-cell>
                        <ul id=menu-main-navigation class=menu>
                            <li class="menu-item menu-item-home current-menu-item"><a href="{{ home_url }}" aria-current=page>{% trans "Home" %}</a></li>
                            <li class="menu-item menu-item-has-children"><a href=#>{% trans "Tips" %}</a>
                                <ul class=sub-menu>
                                    <li class="menu-item"><a href="{{ windows_url }}">{% trans "Windows" %}</a></li>
                                    <li class="menu-item"><a href="{{ linux_url }}">{% trans "Linux" %}</a></li>
                                </ul>
                            </li>
                            <li class="menu-item"><a href="{{ technology_url }}">{% trans "Technology" %}</a></li>
                            <li class="menu-item"><a href="{{ entertain_url }}">{% trans "Code" %}</a></li>
                            <li class="menu-item menu-item-has-children"><a href=#>{% trans "Languages" %}</a>
                                <ul class=sub-menu>
                                    {% get_current_language as LANGUAGE_CODE %}
                                    {% if LANGUAGE_CODE == 'en' %}
                                    <li class="menu-item">
                                        <form class="language" action="{% url 'set_language' %}" method="post">
                                            {% csrf_token %}
                                            <input name="next" type="hidden" value="{{ request.get_full_path|slice:'3:' }}" />
                                            <input name="language" type="hidden" value="vi" />
                                            <a href="javascript:{}" onclick="document.getElementById('language').submit();">Vietnamese</a>
                                        </form>
                                    </li>
                                    {% elif LANGUAGE_CODE == 'vi' %}
                                    <li class="menu-item">
                                        <form class="language" action="{% url 'set_language' %}" method="post">
                                            {% csrf_token %}
                                            <input name="next" type="hidden" value="{{ request.get_full_path|slice:'3:' }}" />
                                            <input name="language" type="hidden" value="en" />
                                            <a href="javascript:{}" onclick="document.getElementById('language').submit();">English</a>
                                        </form>
                                    </li>
                                    {% endif %}
                                </ul>
                            </li>
                            {% if user.is_authenticated %}
                                <li class="menu-item"><a href="{{ logout_url }}">{% trans "Logout" %}</a></li>
                            {% else %}
                                <li class="menu-item"><a href="{{ login_url }}">{% trans "Login" %}</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>