{% url 'blog:home' as home_url %}
{% url 'blog:windows' as windows_url %}
{% url 'blog:linux' as linux_url %}
{% url 'blog:technology' as technology_url %}
{% url 'blog:entertain' as entertain_url %}
{% url 'login' as login_url %}
{% url 'register' as register_url %}
{% url 'logout' as logout_url %}
{% url 'search:query' as search_url %}

{% load staticfiles %}
{% load i18n %}

<!DOCTYPE html>
<html lang=en-US class=no-js>

<head>
    <meta charset=UTF-8>
    <meta name=viewport content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    
    <link rel="shortcut icon" type="image/ico" href="{% static 'images/blog/defaults/logo_website.ico' %}"/>
    
    <link rel=stylesheet href="{% static 'css/blog/style.css' %}" type=text/css media=all>
    <link rel=stylesheet href="{% static 'css/blog/page-builder.css' %}" type=text/css media=all>
    <link rel=stylesheet href="{% static 'css/blog/zilla-likes.css' %}" type=text/css media=all>
    <link rel=stylesheet href="{% static 'css/blog/style-core.css' %}" type=text/css media=all>
    <link rel=stylesheet href="{% static 'css/blog/akea-style-custom.css' %}" type=text/css media=all>
    <!-- bootstrap4 css -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- Icon bootstrap4 -->
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <!-- Js bootstrap4 -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <!-- Js custom -->
    <script src="{% static 'js/blog/style.js' %}"></script>
</head>

<body class="home page-template-default page page-id-2039 gdlr-core-body woocommerce-no-js akea-body akea-body-front akea-full  akea-with-sticky-navigation  akea-blockquote-style-1 gdlr-core-link-to-lightbox" data-home-url=index.html>
    <div class=akea-mobile-header-wrap>
        <div class="akea-mobile-header akea-header-background akea-style-slide akea-sticky-mobile-navigation " id=akea-mobile-header>
            {% include 'page/menu_mobile.html' %}
        </div>
    </div>
    <div class="akea-body-outer-wrapper ">
        <div class="akea-body-wrapper clearfix  akea-with-frame">
            {% include 'page/menu.html' %}
            
            <div class=akea-page-wrapper id=akea-page-wrapper>
                <div class=gdlr-core-page-builder-body>
                    <div class="gdlr-core-pbf-sidebar-wrapper ">
                        <div class="gdlr-core-pbf-sidebar-container gdlr-core-line-height-0 clearfix gdlr-core-js gdlr-core-container">
                            <div class="gdlr-core-pbf-sidebar-content  gdlr-core-column-40 gdlr-core-pbf-sidebar-padding gdlr-core-line-height gdlr-core-column-extend-left" id="div_2207_2">
                                {% block content %}{% endblock %}
                            </div>
                            <div class="gdlr-core-pbf-sidebar-right gdlr-core-column-extend-right  akea-sidebar-area gdlr-core-column-20 gdlr-core-pbf-sidebar-padding  gdlr-core-line-height" data-skin="Blog List" id="div_2207_9">
                                {% include "blog/top_post.html" %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            {% include 'page/footer.html' %}
        </div>
    </div>
    <a href=#akea-top-anchor class="akea-footer-back-to-top-button  akea-with-recent-post-bar " id=akea-footer-back-to-top-button><i class="fa fa-angle-up"></i></a>

    <div class="akea-footer-recent-post-button " id="akea-footer-recent-post-button">
        <i class="icon_plus"></i>
    </div>

    <script src="{% static "js/blog/jquery.js" %}"></script>
    <script src="{% static 'js/blog/jquery-migrate.min.js' %}"></script>
    <script src="{% static 'js/blog/zilla-likes.js' %}"></script>
    <script src="{% static 'js/blog/script.js' %}"></script>
    <script src="{% static 'js/blog/page-builder.js' %}"></script>
    <script src="{% static 'js/blog/effect.min.js' %}"></script>
    <script src="{% static 'js/blog/script-core.js' %}"></script>
    {% block javascript %}{% endblock %}
</body>

</html>