{% url 'blog:home' as home_url %}
{% url 'blog:windows' as windows_url %}
{% url 'blog:linux' as linux_url %}
{% url 'blog:technology' as technology_url %}
{% url 'blog:entertain' as entertain_url %}
{% url 'login' as login_url %}
{% url 'register' as register_url %}
{% url 'logout' as logout_url %}
{% url 'search:query' as search_url %}

{% load staticfiles %}
<!doctype html>
<html class="no-js" lang="zxx">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>{% block title %}{% endblock %}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Place favicon.ico in the root directory -->
        <link href="{% static "images/ct.png" %}" type="img/x-icon" rel="shortcut icon">
        <!-- All css files are included here. -->
        <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
        <link rel="stylesheet" href="{% static "css/qanto.css" %}">
        <link rel="stylesheet" href="{% static "css/bauhaus93.css" %}">
        <link rel="stylesheet" href="{% static "css/font-awesome.min.css" %}">
        <link rel="stylesheet" href="{% static "css/icofont.min.css" %}">
        <link rel="stylesheet" href="{% static "css/plugins.css" %}">
        <link rel="stylesheet" href="{% static "css/helper.css" %}">
        <link rel="stylesheet" href="{% static "css/style.css" %}">   
        <!-- Modernizr JS -->
        <script src="{% static "js/vendor/modernizr-2.8.3.min.js" %}"></script>
    </head>

    <body>
        
        <div id="main-wrapper">
        
            <!--Header section start-->
            <header class="header header-static bg-black header-sticky">
                {% include "page/menu.html" %}
            </header>
            <!--Header section end-->
            
            <!-- content blog -->
            {% block content %}{% endblock %}
            <!-- content blog end -->
            
            <!--Projects section start-->
            {% include "page/start_footer.html" %}
            <!--Projects section end-->
            
            <!--Footer section start-->
            {% include "page/footer.html" %}
            <!--Footer section end-->
            
        </div>

        <!-- Placed js at the end of the document so the pages load faster -->

        <!-- All jquery file included here -->
        <script src="{% static "js/vendor/jquery-1.12.4.min.js" %}"></script>
        <script src="{% static "js/popper.min.js" %}"></script>
        <script src="{% static "js/bootstrap.min.js" %}"></script>
        <script src="{% static "js/plugins.js" %}"></script>
        <script src="{% static "js/main.js" %}"></script>
        <script>
            function InputLanguageValue()
            {
                var selectedValue = document.getElementById("input_language").value.submit();
            }
        </script>

    </body>

</html>