{% url 'blog:home' as home_url %}
{% url 'blog:windows' as windows_url %}
{% url 'blog:linux' as linux_url %}
{% url 'blog:technology' as technology_url %}
{% url 'blog:entertain' as entertain_url %}
{% url 'login' as login_url %}
{% url 'register' as register_url %}
{% url 'logout' as logout_url %}
{% url 'search:query' as search_url %}

{% load staticfiles %}
<!DOCTYPE html>
<html lang=en-US class=no-js>

<head>
    <meta charset=UTF-8>
    <meta name=viewport content="width=device-width, initial-scale=1">


    <title>Akea &#8211; Minimal Blog HTML Template</title>


    <link rel=stylesheet href="{% static 'css/blog/style.css' %}" type=text/css media=all>
    <link rel=stylesheet href="{% static 'css/blog/page-builder.css' %}" type=text/css media=all>
    <link rel=stylesheet href="{% static 'css/blog/zilla-likes.css' %}" type=text/css media=all>
    <link rel=stylesheet href="{% static 'css/blog/style-core.css' %}" type=text/css media=all>
    <link rel=stylesheet href="{% static 'css/blog/akea-style-custom.css' %}" type=text/css media=all>

    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">


</head>

<body class="home page-template-default page page-id-2039 gdlr-core-body woocommerce-no-js akea-body akea-body-front akea-full  akea-with-sticky-navigation  akea-blockquote-style-1 gdlr-core-link-to-lightbox" data-home-url=index.html>
    <div class=akea-mobile-header-wrap>
        <div class="akea-mobile-header akea-header-background akea-style-slide akea-sticky-mobile-navigation " id=akea-mobile-header>
            {% include 'page/menu_mobile.html' %}
        </div>
    </div>
    <div class="akea-body-outer-wrapper ">
        <div class="akea-body-wrapper clearfix  akea-with-frame">
            {% include 'page/menu.html' %}
            
            {% block content %}{% endblock %}

            {% include 'page/footer.html' %}
        </div>
    </div>
    <a href=#akea-top-anchor class="akea-footer-back-to-top-button  akea-with-recent-post-bar " id=akea-footer-back-to-top-button><i class="fa fa-angle-up"></i></a>

    <div class="akea-footer-recent-post-button " id="akea-footer-recent-post-button">
        <i class="icon_plus"></i>
    </div>

    <script src="{% static "js/blog/jquery.js" %}"></script>
    <script src="{% static 'js/blog/jquery-migrate.min.js' %}"></script>
    <script src="{% static 'js/blog/zilla-likes.js' %}"></script>
    <script src="{% static 'js/blog/script.js' %}"></script>
    <script src="{% static 'js/blog/page-builder.js' %}"></script>
    <script src="{% static 'js/blog/effect.min.js' %}"></script>
    <script src="{% static 'js/blog/script-core.js' %}"></script>
</body>

</html>