{% load staticfiles %}
{% load i18n %}

<div class=akea-top-search-wrap>
    <div class=akea-top-search-close></div>
    <div class=akea-top-search-row>
        <div class=akea-top-search-cell>
            <form role=search method='GET' class='search-form' action='{% url "search:query" %}'>
                <input type="text" class="search-field akea-title-font" placeholder="{% trans 'Search...' %}" value='{{ request.GET.q }}' name='q'>
                <div class=akea-top-search-submit><i class="fa fa-search"></i></div>
                <input type="submit" class="search-submit" value="Search">
                <div class=akea-top-search-close><i class=icon_close></i></div>
            </form>
        </div>
    </div>
</div>
