{% load staticfiles %}
{% load i18n %}
<!DOCTYPE html>
<html>
    <head>
        <title>Blog ct | {% trans "Registration" %}</title>
        <link rel="shortcut icon" type="image/ico" href="{% static 'images/blog/defaults/logo_website.ico' %}"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js" ></script>
        <link rel=stylesheet href="{% static 'css/accounts/login.css' %}" type=text/css media=all>
        <script type="text/javascript" src="{% static 'js/accounts/login.js' %}"></script>
    </head>
    <body>
        <form method="POST" action='.' enctype="multipart/form-data">
            {% csrf_token %}
            <div class="group">
                {{ form.fullname }}<span class="highlight"></span><span class="bar"></span>
                <label>{% trans "Full Name" %}</label>
            </div>
            <div class="group">
                {{ form.email }}<span class="highlight"></span><span class="bar"></span>
                <label>Email</label>
            </div>
            <div class="group">
                {{ form.password1 }}<span class="highlight"></span><span class="bar"></span>
                <label>{% trans "Password" %}</label>
            </div>
            <div class="group">
                {{ form.password2 }}<span class="highlight"></span><span class="bar"></span>
                <label>{% trans "Password (again):" %}</label>
            </div>
            <button type="submit" class="button buttonBlue">{% trans "Registration" %}
                <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
            </button>
        </form>
    </body>
</html>