.Dashboard{
    content: url("/static/images/admin/dashboard.svg");
    width:28px;
    height:28px
    }

#blog{
    content: url("/static/images/admin/Blog.svg");
    width:28px;
    height:28px
    }

#accounts{
    content: url("/static/images/admin/Manager.svg");
    width:28px;
    height:28px
    }