{% extends "page/page.html" %}
{% load staticfiles %}
{% load i18n %}
{% block title %}Blog ct | {{ object.title }}{% endblock %}

{% block content %}
    <div class=gdlr-core-pbf-element>
        <div class="gdlr-core-blog-item gdlr-core-item-pdb clearfix  gdlr-core-style-blog-full">
            <div class="gdlr-core-blog-item-holder gdlr-core-js-2 clearfix" data-layout=fitrows>
                <div class="gdlr-core-item-list gdlr-core-blog-full gdlr-core-style-left">
                    <div class=gdlr-core-blog-full-content-wrap>
                        <div class="gdlr-core-blog-full-head clearfix">
                            <div class=gdlr-core-blog-full-head-right>
                                <h1 class="gdlr-core-blog-title gdlr-core-skin-title" id="h3_2207_3">
                                    {{ object.title }}
                                </h1>
                                <div class="gdlr-core-blog-info-wrapper gdlr-core-skin-divider">
                                    <span class="gdlr-core-blog-info gdlr-core-blog-info-font gdlr-core-skin-caption gdlr-core-blog-info-author">
                                        <img alt src="{% static 'images/admin/account.svg' %}" class='avatar avatar-50 photo' height=50 width=50>
                                        <a href="#" title="Author" rel=author>{{ object.author }}</a>
                                    </span>
                                    <span class="gdlr-core-blog-info gdlr-core-blog-info-font gdlr-core-skin-caption gdlr-core-blog-info-date">
                                        <a href="#" title="Date">{{ object.timestamp | date:"d/m/Y" }}</a>
                                    </span>
                                    <span class="gdlr-core-blog-info gdlr-core-blog-info-font gdlr-core-skin-caption gdlr-core-blog-info-category">
                                        <a href="#" title="Tag" rel=tag>{{ object.kind }}</a>
                                    </span>
                                    <span class=" gdlr-core-blog-info-font gdlr-core-skin-caption gdlr-core-blog-info-like">
                                        {% if user.is_authenticated %}
                                            <a class="ct-button ct-button-like" data-href='{{ object.get_api_like_url }}' data-likes='{{ object.like.count }}' href='{{ object.get_like_url }}'><i class="fa fa-heart"></i> {{ object.like.count }} | Like</a>
                                        {% else %}
                                            <a href="#" class="ct-button ct-button-like"><i class="fa fa-heart"></i> {{ object.like.count }} | Like</a>
                                        {% endif %}
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="gdlr-core-blog-content">{{ object.content | safe }}</div>
                    </div>
                </div>
            </div>
            <hr  width="100%" align="center" size="20px"/>
        </div>

        <!-- Commnet form -->
        <div class="main_comments">
            {% include 'blog/comment.html' %}
        </div>
    </div>
{% endblock content %}
