{% extends "page/page.html" %}
{% block title %}Post | CT{% endblock title %}
{% load staticfiles %}
{% block content %}
    
    <div id="main-wrapper">
        
        <!--Page Banner Area Start-->
        <div class="page-banner-area" style="background-image: url(assets/images/bg/page-bg.jpg)">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="page-content text-center">
                            <h1>KINGS OF THE <br> WARRIORS</h1>
                            <a class="df-btn" href="{% static "#" %}">Buy now</a>
                            <ul class="page-breadcrumb">
                                <li><a href="{% static "index.html" %}">Home</a></li>
                                <li>Forum Post</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Page Banner Area End-->
        
        <!--Forum Post Area Start-->
        <div class="forum-post-area section pt-95 pt-lg-75 pt-md-65 pt-sm-55 pt-xs-45">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <!--Single Forum Start-->
                        <div class="single-forum forum-post mb-80 mb-lg-60 mb-md-50 mb-sm-50 mb-xs-40">
                            <h3>hi gammers do you konw!</h3>
                            <div class="forum-meta">
                                <ul>
                                    <li><a href="{% static "#"><img src="{% static "images/author/forum-author1.png"  %}" alt="">snigdha james</a></li>
                                    <li>posted 5 min ago</li>
                                </ul>
                            </div>
                            <div class="forum-image">
                                <img src="{% static "images/forum/forum_post.jpg" %}" alt="">
                            </div>
                            <div class="forum-des">
                                <p><strong>Need for Sped</strong> rationally encounter consequences that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally tances occur in which toil and pain can procure him some great pleasure pleasure rationally encounter sequences that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain itsuse it is pain, but because occasionally circumstances occur in which toil and pain can procure is the most impressive game that you can learn and enjoy and advanture. </p>
                                <p>Rationally encounter consequences that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally tances occur in which toil and pain can procure him some great pleasure pleasure rationally encounte</p>
                                <p><strong>Need for Sped</strong> rationally encounter consequences that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally tances occur in which toil and pain can procure him some great pleasure pleasure rationally encounter sequences that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain itsuse it is pain, but because occasionally circumstances occur in which toil and pain can procure is the most impressive game that you can learn and enjoy and advanture. </p>
                            </div>
                        </div>
                        <!--Single Forum End-->
                    </div>
                </div>
                <div class="row">
                    <div class="forum-reply-wrap col-12">
                        <h3>reply(275)</h3>
                        <!--Single Reply Start-->
                        <div class="single-reply mb-40">
                            <div class="forum-meta">
                                <ul>
                                    <li><a href="{% static "#" %}"><img src="{% static "images/author/forum-author2.png" %}" alt="">Neha Kaissha</a></li>
                                    <li>posted 1.35 hour ago</li>
                                </ul>
                            </div>
                            <p>The Witcher 3 is the best action game that i play ever. encounter consequences that are mely painful. Nor again is there me anyone who loves or pursues or desires take a trivial meaning less sexample, which of us ever undertakes laborious physical exercise molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur </p>
                            <div class="viewer-action">
                                <ul>
                                    <li><a href="{% static "#" %}"><i class="fa fa-thumbs-o-up"></i>425</a></li>
                                    <li><a href="{% static "#" %}"><i class="fa fa-thumbs-o-down"></i>65</a></li>
                                    <li><a href="{% static "#" %}">view 215</a></li>
                                    <li><a href="{% static "#" %}">reply</a></li>
                                </ul>
                            </div>
                        </div>
                        <!--Single Replay End-->
                        <!--Single Reply Start-->
                        <div class="single-reply mb-40">
                            <div class="forum-meta">
                                <ul>
                                    <li><a href="{% static "#" %}"><img src="{% static "images/author/forum-author3.png" %}" alt="">Eric Gardner</a></li>
                                    <li>posted 2 hour ago</li>
                                </ul>
                            </div>
                            <p>The Witcher 3 is the best action game that i play ever. encounter consequences that are mely painful. Nor again is there me anyone who loves or pursues or desires take a trivial meaning less sexample, which of us ever undertakes laborious physical exercise molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur </p>
                            <div class="viewer-action">
                                <ul>
                                    <li><a href="{% static "#" %}"><i class="fa fa-thumbs-o-up"></i>425</a></li>
                                    <li><a href="{% static "#" %}"><i class="fa fa-thumbs-o-down"></i>65</a></li>
                                    <li><a href="{% static "#" %}">view 215</a></li>
                                    <li><a href="{% static "#" %}">reply</a></li>
                                </ul>
                            </div>
                        </div>
                        <!--Single Replay End-->
                        <!--Single Reply Start-->
                        <div class="single-reply mb-40">
                            <div class="forum-meta">
                                <ul>
                                    <li><a href="{% static "#" %}"><img src="{% static "images/author/forum-author4.png" %}" alt="">Diane Hall</a></li>
                                    <li>posted 2.4 hour ago</li>
                                </ul>
                            </div>
                            <p>The Witcher 3 is the best action game that i play ever. encounter consequences that are mely painful. Nor again is there me anyone who loves or pursues or desires take a trivial meaning less sexample, which of us ever undertakes laborious physical exercise molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur </p>
                            <div class="viewer-action">
                                <ul>
                                    <li><a href="{% static "#" %}"><i class="fa fa-thumbs-o-up"></i>425</a></li>
                                    <li><a href="{% static "#" %}"><i class="fa fa-thumbs-o-down"></i>65</a></li>
                                    <li><a href="{% static "#" %}">view 215</a></li>
                                    <li><a href="{% static "#" %}">reply</a></li>
                                </ul>
                            </div>
                        </div>
                        <!--Single Replay End-->
                        <!--Single Reply Start-->
                        <div class="single-reply mb-40">
                            <div class="forum-meta">
                                <ul>
                                    <li><a href="{% static "#" %}"><img src="{% static "images/author/forum-author5.png" %}" alt="">Brian Myers</a></li>
                                    <li>posted 3 hour ago</li>
                                </ul>
                            </div>
                            <p>The Witcher 3 is the best action game that i play ever. encounter consequences that are mely painful. Nor again is there me anyone who loves or pursues or desires take a trivial meaning less sexample, which of us ever undertakes laborious physical exercise molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur </p>
                            <div class="viewer-action">
                                <ul>
                                    <li><a href="{% static "#" %}"><i class="fa fa-thumbs-o-up"></i>425</a></li>
                                    <li><a href="{% static "#" %}"><i class="fa fa-thumbs-o-down"></i>65</a></li>
                                    <li><a href="{% static "#" %}">view 215</a></li>
                                    <li><a href="{% static "#" %}">reply</a></li>
                                </ul>
                            </div>
                        </div>
                        <!--Single Replay End-->
                        <div class="reply-btn">
                            <a href="{% static "#" %}">view more <i class="icofont-long-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Forum Post Area End-->
        
        <!--Projects section start-->
        <div class="newslatter-section newslatter-section-tow section pt-0 pt-lg-5 pt-md-5 pt-sm-5 pt-xs-45 pb-xs-50">
            <div class="container">
            
                <div class="row">
                <div class="col-12">
                    <!--News Latter Area Start-->
                    <div class="news-latter-area newslatter-black">
                        <div class="news-latter-box">
                            <h3>SUBSCRIBE OUR NEWSLETTER, GET ALL <br> LATEST NEWS, UPDATE, VIDEOS AND OFFERS </h3>
                            <form action="#">
                                <input type="text" placeholder="Enter your email here">
                            </form>
                        </div>
                    </div>
                    <!--News Latter Area End-->
                </div> 
                </div>
                
            </div>
            
        </div>
        <!--Projects section end-->
        
    </div>
    
{% endblock content %} 