{% if items.has_other_pages %}
    <div class="gdlr-core-pagination  gdlr-core-style-circle gdlr-core-right-align gdlr-core-item-pdlr">
        {% for i in page_range %}
            {% if items.number == i %}
                <span aria-current=page class='page-numbers current'>{{i}}</span>
            {% else %}
                <a class=page-numbers href="?page={{i}}">{{i}}</a>
            {% endif %}
        {% endfor %}
        {% if items.has_next %}
            <a class="next page-numbers" href="?page={{items.next_page_number}}"></a>
        {% else %}
            <a class="next page-numbers disabled" href="#"></a>
        {% endif %}
    </div>
{% endif %}