#ct_button_detail {
    text-align: right;
    padding: 10px 0px;
}

.aligned .form-row div label {
    font-size: 16px;
    font-weight: 700;
    font-family: Arial;
}

.vTextField {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem
}